body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: rgb(31, 35, 40);
}

header {
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid rgb(220, 220, 220);
  display: grid;
  grid-template-columns: 100px 1rem 1fr 1rem auto;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "symbol . title . navigation";
  margin: 0 0 1rem 0;
  padding: 1rem 0.5rem 0 0;
  position: sticky;
  top: 0;
}

.header-symbol {
  grid-area: symbol;
  padding-left: 0.5rem;
}

.header-title {
  grid-area: title;
}

nav {
  display: inline-block;
  grid-area: navigation;
  padding: 0.5rem 0;
  text-align: center;
}

nav a {
  color: rgb(34, 34, 34);
  font-weight: bolder;
  padding: 0 1rem;
  text-decoration: none;
}

.container {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  margin: 0.5rem 1rem 0.75rem 0.5rem;
  max-width: 55rem;
  padding: 1rem 0.5rem;
}

h1,
h2 {
  margin-top: -6.5rem;
  padding-top: 6.5rem;
}

pre:has(.language-typescript) {
  background: rgba(34, 34, 34, 0.03);
  border: 1px solid rgba(34, 34, 34, 0.2);
  border-radius: 4px;
  color: #222;
  margin: 0 0 1.5em;
  padding: 1rem;
  white-space: pre;
  word-wrap: normal;
}

pre:has(.language-signature) {
  background: rgba(97, 178, 167, 0.15);
  border: 1px solid rgba(97, 178, 167, 0.7);
  border-radius: 4px;
  color: #222;
  margin: 0 0 1.5em;
  padding: 1rem;
  white-space: pre;
  word-wrap: normal;
}
