name: Test (Vitest)

# Prevent that corepack looks for latest version of pnpm
# HACK to work around issue nodejs/corepack#625
env:
  COREPACK_DEFAULT_TO_LATEST: 0

# Controls when the action will run.
on:
  # Triggers the workflow on pull request events but only for the main branch
  pull_request:
    branches: [main]

  push:
    branches: [main]

  merge_group:

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  test-on-node:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        include:
          - branch: main
            artifact: main
          - branch: ${{ github.head_ref }}
            artifact: pull-request

    permissions:
      # Required to checkout the code
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ matrix.branch }}
          ## Set repository to correctly checkout from forks
          repository: ${{ github.event.pull_request.head.repo.full_name }}

      - name: Install Pnpm
        run: corepack enable

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22.x

      - name: Install dependencies
        run: pnpm install

      - name: Run tests
        run: npx vitest run --coverage.enabled --coverage.reporter=json --coverage.reporter=json-summary

      - name: "Upload coverage"
        uses: actions/upload-artifact@v4
        with:
          name: coverage-${{ matrix.artifact }}
          path: coverage

      - name: "Upload vitest config"
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.artifact }}-vitest.config.ts
          path: vitest.config.ts

  report-coverage:
    needs: test-on-node

    runs-on: ubuntu-latest

    permissions:
      # Required to checkout the code
      contents: read
      # Required to put a comment into the pull-request
      pull-requests: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: "Download coverage artifacts of pull request"
        uses: actions/download-artifact@v4
        with:
          name: coverage-pull-request
          path: coverage

      - name: "Download coverage artifacts of main"
        uses: actions/download-artifact@v4
        with:
          name: coverage-main
          path: coverage-main

      - name: "Download vitest configuration of pull request"
        uses: actions/download-artifact@v4
        with:
          name: pull-request-vitest.config.ts
          path: configs

      - name: "Report coverage"
        uses: davelosert/vitest-coverage-report-action@v2
        with:
          json-summary-compare-path: coverage-main/coverage-summary.json
          vite-config-path: configs/vitest.config.ts
